.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/
/application/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*
sftp-config.josn

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
sftp-config.json

#excluded to prevent cross-domain url issues. Manually update if needed.
application/config/config.php

#excluded for security
application/libraries/Authdata.php
application/config/database.php

# exclude covers
assets/graphics/covers/*
# but keep the blank cover file
!assets/graphics/covers/blankCover.png