/* -----------------
REFACTOR PLANNING NOTES:

This file should house CSS relevent to: 
	news feeds
----------------- */

div.userFeedItem {
	border: 1px solid #5774a2;
	border-radius: 6px;
	margin-bottom: 16px;
	padding: 6px 15px;
}

div.feedItemHeader {
	border-bottom: 1px solid #5774a2;
	padding: 0;
	margin: 0;
	margin-bottom: 6px;
	padding-bottom: 8px;
	overflow: auto;
}

div.userFeedItem p {
	padding: 0;
	padding-top: 8px;
	margin: 0;
	line-height: 1em;
}

div.userFeedItem p.post {
	padding-bottom: 12px;

}

span.postTime {
	color: rgb(140, 163, 171);
	font-size: 65%;
}

div.feedItemHeader p > span.postTime {
	color: rgb(140, 163, 171);
	font-size: 65%;
}

/* --------------------------------
	Mini Feed 
-----------------------------------*/

div.userFeedItem.miniNews {
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid #5774a2;
	margin-bottom: 10px;
	padding: 0;
	padding-bottom: 6px;
	font-size: 13px
}

div.userFeedItem.miniNews > p {
	padding: 0;
	margin: 0;
	line-height: 1.2em;
}

div.userFeedItem.miniNews > p.post {
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
}

div.userFeedItem.miniNews > div.feedItemHeader {
	border-bottom: 0;
	padding: 0;
	margin: 0;
}

div.userFeedItem.miniNews > div.feedItemHeader p.postHead {
	padding: 0;
	margin: 0;
}

div.userFeedItem.miniNews > div.feedItemHeader p > span.postTime  {
	font-size: 85%;
}

/* --------------------------------
	Condensed Feed 
-----------------------------------*/
div.userFeedItem.condensedNews {
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid #5774a2;
	margin-bottom: 10px;
	padding: 0;
	padding-bottom: 6px;
	font-size: 13px
}

div.userFeedItem.condensedNews > p {
	padding: 0;
	margin: 0;
	line-height: 1.2em;
}

div.userFeedItem.condensedNews:last-child {

	border-bottom: 0px solid #5774a2;
	margin-bottom: 0px;
}