/* -----------------
REFACTOR PLANNING NOTES:

This file should house CSS relevent to: 
	news feeds
----------------- */

div.event {
	padding: 6px;
	border-bottom: 1px solid #5774a2;
}

div.event img.newsAvatar {
	float: left;
	margin-right: 10px;
}

div.event p {
	padding: 0;
	padding-top: 2px;
	padding-bottom: 2px;
	margin: 0;
	line-height: 1em;
}

div.event p.post {
	padding-bottom: 4px;
}

div.event p.postTime {
	color: rgb(167, 217, 234);
	font-size: 85%;
	padding-left: 7px; 
}

/* --- deprecated --- */

/*div.feedItemHeader {
	border-bottom: 1px solid #5774a2;
	padding: 0;
	margin: 0;
	margin-bottom: 6px;
	padding-bottom: 8px;
	overflow: auto;
}





div.feedItemHeader p > span.postTime {
	color: rgb(140, 163, 171);
	font-size: 65%;
}*/

/* --------------------------------
	Mini Feed 
-----------------------------------*/

/*div.event.miniNews {
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid #5774a2;
	margin-bottom: 10px;
	padding: 0;
	padding-bottom: 6px;
	font-size: 13px
}

div.event.miniNews > p {
	padding: 0;
	margin: 0;
	line-height: 1.2em;
}

div.event.miniNews > p.post {
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
}

div.event.miniNews > div.feedItemHeader {
	border-bottom: 0;
	padding: 0;
	margin: 0;
}

div.event.miniNews > div.feedItemHeader p.postHead {
	padding: 0;
	margin: 0;
}

div.event.miniNews > div.feedItemHeader p > span.postTime  {
	font-size: 85%;
}*/

/* --------------------------------
	Condensed Feed 
-----------------------------------*/
/*div.event.condensedNews {
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid #5774a2;
	margin-bottom: 10px;
	padding: 0;
	padding-bottom: 6px;
	font-size: 13px
}

div.event.condensedNews > p {
	padding: 0;
	margin: 0;
	line-height: 1.2em;
}

div.event.condensedNews:last-child {

	border-bottom: 0px solid #5774a2;
	margin-bottom: 0px;
}*/