/* -----------------
REFACTOR PLANNING NOTES:

This file should house CSS relevent to: 
	type listings
	type pages
----------------- */

/*--- CORE STYLE FOR A TYPE LISTING --- */

div.typeInfo {
	border: 2px solid white;
	border-radius: 15px;
	width: 170px;
	margin: 8px;
	padding-bottom: 5px;
	overflow: hidden;
	position: relative;
}

div.typeInfo:hover {
	border: 2px solid rgb(37,188,235);
	background-color: rgb(16, 26, 49);
}

div.typeInfo > a > img.coverArt {
	width: 100%;
	border-bottom: 2px solid white;
	margin-bottom: 5px;
}

div.typeInfo > p {
	margin: 0px;
	padding: 0px 8px;
	text-align: center;
}

div.typeInfo > p.typeName {
	font-size: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

div.typeInfo > p.stats {
	font-size: 11px;
	color: #ccc;
	margin: 0px;
}

div.typeInfo > p.stats > span.onlineStat {
	cursor: pointer;
}

div.typeInfo.followed {
	border: 4px solid rgb(10, 236, 69)
}

div.typeInfo > div.btnGroupContainer {
	width: 100%;
	position: absolute; 
	display: none;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
    z-index: 90;
}

.cardActionButtons button {
	width: 100%;
}



/* -- SIZE SPECIFIC STYLES -- 
	Examples of sizes:
	Large = "Followed" games listed at top of types listing (this is the default style)
	Medium = normal listing on types listing page
	Small = types that appear in 'offline games' section of types list page
	Extra Small = types that appear in 'common games' section of profiles
	Mini = types that appear in 'followed games' sections of profiles/home pages
----------------------------*/


div.typeInfo.med {
	width: 140px;
}

div.typeInfo.med > p.typeName {
	font-size: 15px;
}

div.typeInfo.med > p.stats {
	font-size: 12px;
	color: #ccc;
	margin: 0px;
}


div.typeInfo.sml {
	width: 110px;
}

div.typeInfo.sml > p.typeName {
	font-size: 12px;
}

div.typeInfo.sml > p.stats {
	font-size: 12px;
	color: #ccc;
	margin: 0px;
	display: none;
}


div.typeInfo.xsm {
	width: 60px;
	padding: 0;
	border-radius: 10px;
}

div.typeInfo.xsm > p.typeName {
	font-size: 12px;
}

div.typeInfo.xsm > p.stats {
	font-size: 12px;
	color: #ccc;
	margin: 0px;
	display: none;
}

div.typeInfo.xsm > a > img.coverArt {
	width: 100%;
	border-bottom: 0px;
	margin-bottom: 0px;
}
